body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.parallax-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.parallax-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('1873.jpg') center/cover no-repeat;
    /* Замените '1873.jpg' на ваше изображение */
    background-attachment: fixed;
    transform: translateZ(0);
    z-index: -1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: #412323;
}

.eva {
    width: 200px;
    height: 200px;
}